@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
.site-title {
    font-family: 'Architects Daughter';
}
.site-subtitle {
    font-family: auto !important;
}

.masthead .masthead__inner-wrap {
    background-color: #AA6688;
}
